In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
data = pd.read_csv("C://dataset12.csv")
x = data.Time
y = data.CDF

In [4]:
data.head()

   Time  Faults  CDF
0     1       1    1
1     2       6    7
2     3       0    7
3     4       2    9
4     5       0    9

In [8]:
X = data.Time
Y = data.CDF

In [5]:
from scipy.optimize import minimize

In [36]:
def hd(a, b, alpha, beta, t):
    # return a*(1-np.exp(-b*t))
    return (a/(1+beta*np.exp(-b*t)))*( (1-np.exp(-b*t))*(1-alpha/b) + alpha*t)

In [37]:
def OLS(C, X, Y):
    y = hd(C[0], C[1], C[2], C[3], X)
    res = (y-Y)
    sos = np.sum(res**2)
    return sos

def mse(C, X, Y):
    n = len(Y)
    p = len(C)
    y = hd(C[0], C[1], C[2], C[3], X)
    res = (y-Y)
    mos = np.sum(res**2) / (n-p)
    return mos

In [54]:
res = minimize(fun=OLS, x0=[600, 0.01, 0.01, 1], args=(X, Y), method='Nelder-Mead')

In [55]:
res

 final_simplex: (array([[1.67480712e+03, 4.59626184e-03, 3.02603696e-03, 3.53873936e+00],
       [1.67336487e+03, 4.59519051e-03, 3.04366381e-03, 3.53614357e+00],
       [1.64971416e+03, 4.63479475e-03, 3.03581155e-03, 3.50816922e+00],
       [1.67028240e+03, 4.59524587e-03, 3.07923558e-03, 3.53056057e+00],
       [1.64961200e+03, 4.63819228e-03, 3.00342254e-03, 3.50985955e+00]]), array([4783.36182937, 4783.45331883, 4783.45938979, 4783.48505533,
       4783.4945    ]))
           fun: 4783.361829372569
       message: 'Maximum number of function evaluations has been exceeded.'
          nfev: 800
           nit: 476
        status: 1
       success: False
             x: array([1.67480712e+03, 4.59626184e-03, 3.02603696e-03, 3.53873936e+00])

In [56]:
print(mse([666.4, 0.003515, 0.006929, 0.3607], X, Y))
print(mse(res.x, X, Y))

85.9192474729937
85.41717552451017