In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
data = pd.read_csv("C://dataset1.csv")
x = data.Time
y = data.CDF

In [4]:
data.head()

   Time  Faults  CDF
0     1       1    1
1     2       6    7
2     3       0    7
3     4       2    9
4     5       0    9

In [5]:
from scipy.optimize import minimize

In [7]:
def hd(a, b, c, t):
    return np.log((np.exp(a)-c)/(np.exp(a*np.exp(-b*t))-c))

In [ ]:
def OLS(C, ):